{% extends 'base.html' %}

{% block header %}
Ajouter un Film
{% endblock %}


<!-- nav bar -->
{% block nav %}
  <a href="{% url 'index' %}" class="nav-link text-light">Acceuil</a>
  <a href="{% url 'hall' %}"class="nav-link text-light">Ajouter un cinéma</a>
  <a href="{% url 'studio' %}" class="nav-link text-light">Ajouter un studio</a>
  <a href="{% url 'country' %}" class="nav-link text-light">Ajouter un Pays</a>
{% endblock %}


{% block content %}

<div class="container d-flex py-5 bg-light flex-column justify-content-center align-items-center">
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}

  <button class="btn btn-lg btn-secondary" type="submit">Ajouter</button>
</form>
</div>
{% endblock %}
