{% extends 'base.html' %}

{% block content %}


<header>
    {% if user.is_authenticated %}
    <a href=" {% url 'form' %} ">Ajouter un film</a>
    {% endif %}
    <div class="containeur-fluid title">
        <h1> Mes Films </h1>
    </div>
</header>

<div class="container">

    <div class="row">
        {% for movie in movies %}
        <a class="col-md-3 rounded movie__card" href="{% url 'movie' movie.slug %}">
            <h2 class="card--title"> {{movie.title}} </h2>
            <img class="card--image" src="{{ movie.thumbnail.url }}" alt="{{movie.title}}">
            <p>De: {{movie.director}} </p>
            <p>Note : {{movie.note}} /5 </p>
        </a>

        {% endfor %}
    </div>

</div>


{% endblock %}