{% extends 'base.html' %}

{% block header %}
  Mes Films
{% endblock%}

{% block nav %}
  {% if user.is_authenticated %}
    <a href="{% url 'create' %}" class="nav-link text-dark">Ajout</a>
  {% endif %}
{% endblock %}


{% block content %}
  <div class="container py-5 bg-light">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="card md-4 shadow-sm">
          {% for movie in movies %} 
          <a href="{% url 'movie' movie.slug %}">
            <h2 class="card--title">{{movie.title}}</h2>
            <img
            class="w-100"
            src="{{movie.thumbnail.url}}"
            alt="{{movie.title}}"
            />
            <div class="card-body">
              <p class="card-text">De: {{movie.director}}</p>
              <p class="card-text">Note : {{movie.note}} /5</p>
            </div>
          </a>
        {% endfor %}
        </div>
      </div>
    </div>     
  </div>
{% endblock %}
