{% extends 'base.html' %}


{% block content %}
<div class="container-fluid col-md-6">
    <h1> {{movie.title}} </h1>
    <img class="image" src="{{ movie.thumbnail.url }}" alt="{{movie.title}}">
    <p>Realisateur: {{movie.director}} </p>
    <p>pays du film : {{movie.country.name}}</p>
    <p>Note : {{movie.note}} /5 </p>
    <p>Studio : {{movie.studio.name}} </p>
    <p>Pays du Studio {{movie.studio.country}}</p>
    <p>vue au {{movie.hall.name}} : de {{movie.hall.city}} le : {{movie.date}} </p>
    <h2>Synopsis:</h2>
    <p> {{movie.synopsis}} </p>
</div>

{% endblock %}